.ota{
    display: grid;
    border: 3px solid #000;
    padding: 20px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: minmax(70px, auto);
    background-image: radial-gradient(circle, red, green, blue);
    grid-column-gap: 20px;
    grid-row-gap: 50px;
}
.kataklar{
    border: 1px solid #000;

}
.kataklar:nth-child(2n){
    background-color: #ccc;
}
.kataklar:nth-child(2n+1){
    background-color: aqua;
}
.katak-1{
    grid-column: 1/3;
    grid-row: 1/3;
}
.katak-2{
    grid-column: 1/ span 5;
    grid-row: 3/4;
}
.rasmlar{
    width: 100%;
    height: 100%;
    object-fit: cover;
}